*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(247, 245, 245)
}
  

nav ul{
    display: flex;
    
}
nav ul li{
    margin-left: 3rem;
    margin-top: 2rem;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
}


form{
    display: flex;
    justify-content: center;
    background-color:rgb(101, 87, 87);
    height: 30rem;
    width: 40rem;
    margin: 0% auto;
    margin-top: 10rem;
    box-shadow: 1px 1px 14px;
    
}
.blocform{
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    width: 80%;
    padding-left: 1rem;
    margin-left: 2rem;
}


label{
    margin-top: 1rem;
}

.flex{
    margin-top: 2rem;
    display: flex;
    
}

.absolu{
   display: flex;
   position: absolute;
   margin-left: -22rem;
   margin-top: 1rem;
   font-weight: bold;
   font-size: 1.5rem;
}

.inscription{
    margin-top: -4rem;
    font-size:17px ;
}

.inscription a{
    color: rgb(255, 255, 255); 
    text-decoration: none;
}

















