*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    width: 100%;
    background-color: rgb(247, 245, 245);
}


nav ul li{
    margin-left: 3rem;
    margin-top: 2rem;
    list-style: none;
}

nav ul a{
    text-decoration: none;
    color: black;
}


form{
    display: flex;
    justify-content: center;
    background-color:rgb(101, 87, 87);
    height: 30rem;
    width: 50rem;
    margin: 0% auto;
    margin-top: 10rem;
    box-shadow: 1px 1px 14px;
    
}
.blocform{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    width: 80%;
    padding-left: 1rem;
    margin-left: 2rem;
}

.input{
    height: 2rem;
    padding-left: 0.5rem;
    border-radius: 5px;
    border: none;
    width: 90%;
}
label{
    margin-top: 1rem;
}

.flex{
    margin-top: 2rem;
}

.div{
    height: 2rem;
    width: 6rem;
    background-color:rgb(100, 67, 1); 
    border-radius: 10px;
    color: white;
    border: 1px solid black;
    cursor: pointer;
}

.absolu{
    display: flex;
    position: absolute;
    margin-left: -40rem;
    margin-top: 1rem;
    font-weight: bold;
    font-size: 1.5rem;
 }


.ici a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    margin-left: 1rem;
}

















